---
---
<div class="clock">
    <div id="mytime">My Time: </div>
    <div id="hertime">Her Time: </div>    
</div>

<script>
    function updateClocks() {
    const myTime = new Date().toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit'});
    const nyTime = new Date(new Date().toLocaleString("en-US", { timeZone: "America/New_York" }));
    const herTime = nyTime.toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit'});

    document.getElementById('mytime').innerHTML = `My Time: ${myTime}`;
    document.getElementById('hertime').innerHTML = `Her Time: ${herTime}`;
}

updateClocks();
setInterval(updateClocks, 1000);
</script>